# Configurações do Banco de Dados (TiDB / MySQL)
DATABASE_URL=mysql://user:password@host:port/database

# Mercado Pago
MP_ACCESS_TOKEN=APP_USR-75899114462674-053112-4ec2dd26ba31c276fe6aae055234158d-746685437
MP_PUBLIC_KEY=APP_USR-5a64239c-6718-4d20-9654-93d3eae30dc6

# Auth (se necessário)
SESSION_SECRET=seu_segredo_aqui
